.table {
/*    background-color: black;
    color: white;
    opacity: 0;
    border: 2px black;
    border-radius: 1rem;*/
}

.cart-items-table {
    
}

/*body {
    background: black;
    text-align: center;
    color: white;
    background-image:url(http://stuckincustoms.smugmug.com/Burning-Man/i-dd9xmfn/0/X3/The%20Steamy%20Car-X3.jpg);
}*/
